#disqus_thread{ display:none !important;}
.clearfixsol:after { content: ""; display: table; clear: both; }
    /* #disqus_thread, .td-main-sidebar, .td-footer-wrapper, .td-sub-footer-container { display:none !important;} */
#tfwrapper {height:auto;}
#tfwrapper .firstcharacter {
        color: #000000;
        float: left;
        font-family: Georgia;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
    }
#tfwrapper #tfbody{ margin: 15px;}
#tfwrapper #tfbody, #tfwrapper #tfheader{ margin: 15px;}
#tfwrapper .hidden{ display:none !important; }
#tfwrapper h1 { font-family: 'Quicksand', sans-serif; font-weight:700; font-size: 52px; line-height: 55px; text-align: center; }
#tfwrapper h2, #tfwrapper h3, #tfwrapper h4, #tfwrapper h5, #tfwrapper h6 { font-family: 'Arapey', serif;  text-align: center; }
#tfwrapper h2{ font-size: 48px; color: #bfbebe;}
#tfwrapper h2.iframeheadline{     text-align: left; font-family: 'Roboto', sans-serif; font-size: 36px; max-width: 960px; width: 100%; margin: 0px auto; line-height: 26px; font-weight: 400; color: #333333;}
#tfwrapper h3{ font-size: 34px; line-height: 36px; max-width: 750px; margin: 15px auto;}
#tfwrapper p.tfauthor { font-family: 'Arapey', serif;  font-style:italic; font-size: 20px; font-weight: 400; margin-bottom: 18px; text-align:center; }
#tfwrapper p.intro {  font-family: 'Arapey', serif; font-size: 24px; color: #888888; line-height: 25px;}
#tfwrapper p.dataupdated {      font-weight: 300; font-family: 'Roboto', sans-serif; font-size: 14px; text-align:center; margin: 0px auto;}
#tfwrapper p {  text-align: left; font-family: 'Roboto', sans-serif; font-size:18px; max-width: 525px; width: 100%;margin: 35px auto;    line-height: 26px; font-weight: 300;}
#tfwrapper p#highlights {font-family: 'Roboto', sans-serif; font-size:22px; line-height: 30px; font-weight: 700; color: #ff9900;}
#tfwrapper img {  max-width: 525px; width: 100%;margin: 15px auto 35px auto; display:block;}
#tfwrapper iframe {  max-width: 960px; width: 100%;margin: 15px auto 35px auto; display:block;}
#tfwrapper img.gitag {  width: 149px; margin: 40px auto;}
#tfwrapper .dividercontent { width:100%;margin: 15px auto; max-width:1400px; }
#tfwrapper .dividercontent .grid { width:100%; height: auto; }
#tfwrapper .dividercontent .grid .griditem { float:left; width:25%; margin:15px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
#tfwrapper .dividercontent .grid .griditem:first-child { margin-left:0px; }
#tfwrapper .dividercontent .grid .griditem:last-child { margin-right:0px; }
#tfwrapper .dividercontent .grid .griditem img{ width:100%; }
#tfwrapper .storynav{ margin:0 auto; height:auto; max-width: 525px; width: 100%; text-align:center; line-height: 0px; margin-top: -15px;}
#tfwrapper .storynav .col{ float:left; width:33.3%; height:90px; }
#tfwrapper .storynav .col a{margin-top: 40px; display: block; color:#f72c2c; text-decoration: none; font-weight:bold; }
#tfwrapper .nextstory {text-align:center; }
#tfwrapper .nextstory a{color:#f72c2c; text-decoration: none; font-weight:bold; }
#tfwrapper .maincopy-head {    line-height: 48px; font-size: 48px; color: #000000; max-width: 845px; margin: 15px auto 35px auto; width: 100%;}
   #tfwrapper .maincopy-subheads{width: 100%; max-width: 375px; margin: 15px auto;font-size: 34px; min-height: 80px;
    font-family: 'Arapey', serif; line-height: 35px;}
#tfwrapper .maincopy-subheads span{    font-size: 95px; font-family: 'Arapey', serif; color: #999999; border-right: 1px solid #999999; float: left; padding-right: 10px; margin-right: 15px; height: auto; line-height: 70px;}
#tfwrapper .alsoread{ font-weight: bold;}
#tfwrapper .alsoread a{ color: #f72c2c;  text-decoration: none;}
.twitter-tweet.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
}

h1#ques {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
}
#options {
    text-align: center;
    margin-top: 2%;
}
#options label {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #206d7a;
}
#desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
#subFlex {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

#India_map {
    width: 250px !important;
    height: auto;
}
#India_map img {
    max-width: 100%;
}

.range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    font-size: 35px;
}
.range__slider:focus {
    outline: none;
}
.range__slider::-webkit-slider-runnable-track {
    background-color: #444444;
    height: .3em;
    margin: .4em 0;
    border-radius: 15px;
}
.range__slider::-moz-range-track {
    background-color: #444444;
    height: .3em;
    border-radius: 2px;
}
.range__slider::-moz-focus-outer {
    border: 0;
}
.range__slider::-ms-track {
    background-color: #444444;
    height: .3em;
    margin: .1em 0;
    border-radius: 2px;
}
.range__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    /* content: '\25B2'; */
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -0.5em;
}
.range__slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.range__slider::-ms-thumb {
    margin: 0;
}
.range {
    position: relative;
    text-align: center;
}
.range__amount {
    width: 10%;
    border: none;
    outline: none;
}
.bubble {
    /* background: red; */
    color: red;
    /* padding: 4px 12px; */
    position: absolute;
    border-radius: 4px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
#rightSide {
    margin-top: 2%;
    max-width: 40%;
}
.mapcontainer{
    width: 370px;
    height: auto;
    margin: 2% 8% 0 0;
}

.india-map path, .india-map text{
    transition: all .2s;
}

#guess {
    position: absolute;
    left: -13%;
    bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.limits {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6d6d6d;
    position: absolute;
    bottom: 28%;
}
.range__amount, .days {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #ff0000;
}
#validate, #subFlex, .reloadwrap {
    display: none;
}
h2#validate {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #ff0000;
    min-height: 25px;
}
#daysEst {
    padding-right: 6%;
    border-right: 1px solid #515151;
}
#constData {
    padding-left: 2%;
}
#daysEst p, #constData p:first-child {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #515151;
    text-align: center;
    margin: 0;
}
#daysEst h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    color: #515151;
    margin: 0;
}
#constData h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #515151;
    margin: 0;
}
#constData p#months {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 2px;
    color: #515151;
    text-align: center;
    margin: 0;
}
#plcName {
    text-transform: capitalize;
}
.btnwrap {
    text-align: center;
}
#submitBtn {
    background-color: #000000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    border: none;
    outline: none;
}
.btnwrap img {
    display: inline !important;
    margin: 10px 5px -2px 0 !important;
    width: 15px !important;
}
#validate img {
    display: inline !important;
    width: 35px !important;
    margin: 2% 2% -11px 0 !important;
}
#reloadBtn {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    color: #2ec8ff;
    background: transparent;
}
input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -1px;
    left: 0;
    position: relative;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #206d7a;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -1px;
    left: 0;
    position: relative;
    background-color: #ff0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #000000;
}

.svg-tooltip {
    pointer-events: none;

}
.maptext {
    padding: 1px 3px;
    color: #FFF;
    background-color: black;
    width: fit-content;
    font-size: 0.5em;
    font-family: "Rubik";
    /* opacity: 0; */
}
foreignObject { overflow: visible; }

/* Mobile Devices */
@media screen and (min-width: 300px) and (max-width: 650px){
    #tfwrapper h2 {
        font-size: 45px;
        line-height: 30px;
    }
}

@media screen and (max-width: 767px) {
    .mapcontainer {
        width: 250px;
        margin: 4% 0 0 0;
    }
    #desc {
        flex-direction: column;
    }
    #rightSide {
        max-width: 85%;
    }
    #options label {
        font-size: 14px;
    }
    #guess {
        left: -17%;
        font-size: 12px;
    }
    .range {
        left: 10%;
    }
    .range__amount {
        width: 16%;
    }
    .range__amount, .days {
        font-size: 20px;
    }
    .limits {
        font-size: 12px;
    }
    #submitBtn {
        font-size: 16px;
        line-height: 22px;
    }
    h2#validate {
        font-size: 25px;
        line-height: 30px;
    }
    #daysEst p, #constData p:first-child {
        font-size: 13px;
        line-height: 16px;
    }
    #constData h4 {
        font-size: 50px;
        line-height: 70px;
    }
    #daysEst h4 {
        font-size: 39px;
        line-height: 70px;
    }
    #constData p#months {
        font-size: 26px;
    }
    #daysEst {
        padding-right: 6%;
    }
    #constData {
        padding-left: 5%;
    }
}


