#wrapperforQuiz {
    max-width: 910px;
    margin: 15px auto 35px auto;
    width: 100%;
}
h1#ques {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
    text-align: center;
}
#intro {
    max-width: 525px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
#options {
    text-align: center;
    margin-top: 2%;
}
#options label {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #206d7a;
}
#desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
#subFlex {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

#India_map {
    width: 250px !important;
    height: auto;
}
#India_map img {
    max-width: 100%;
}

.range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    font-size: 35px;
}
.range__slider:focus {
    outline: none;
}
.range__slider::-webkit-slider-runnable-track {
    background-color: #444444;
    height: .3em;
    margin: .4em 0;
    border-radius: 15px;
}
.range__slider::-moz-range-track {
    background-color: #444444;
    height: .3em;
    border-radius: 2px;
}
.range__slider::-moz-focus-outer {
    border: 0;
}
.range__slider::-ms-track {
    background-color: #444444;
    height: .3em;
    margin: .1em 0;
    border-radius: 2px;
}
.range__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    /* content: '\25B2'; */
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -0.5em;
}
.range__slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.range__slider::-ms-thumb {
    margin: 0;
}
.range {
    position: relative;
    text-align: center;
}
.range__amount {
    width: 10%;
    border: none;
    outline: none;
}
.bubble {
    /* background: red; */
    color: red;
    /* padding: 4px 12px; */
    position: absolute;
    border-radius: 4px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 27px;
}
#rightSide {
    margin-top: 2%;
    max-width: 40%;
}
.mapcontainer{
    width: 370px;
    height: auto;
    margin: 2% 8% 0 0;
}

.india-map path, .india-map text{
    transition: all .2s;
}

#guess {
    position: absolute;
    left: -13%;
    bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.limits {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6d6d6d;
    position: absolute;
    bottom: 28%;
}
.range__amount, .days {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #ff0000;
}
#validate, #subFlex, .reloadwrap {
    display: none;
}
h2#validate {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #ff0000;
    min-height: 25px;
}
#daysEst {
    padding-right: 6%;
    border-right: 1px solid #515151;
}
#constData {
    padding-left: 2%;
}
#daysEst p, #constData p:first-child {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #515151;
    text-align: center;
    margin: 0;
}
#daysEst h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #515151;
    margin: 0;
}
#constData h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #515151;
    margin: 0;
}
#constData p#months {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 2px;
    color: #515151;
    text-align: center;
    margin: 0;
}
#plcName {
    text-transform: capitalize;
}
.btnwrap {
    text-align: center;
}
#submitBtn {
    background-color: #000000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    border: none;
    outline: none;
}
.btnwrap img {
    display: inline !important;
    margin: 10px 5px -2px 0 !important;
    width: 15px !important;
}
#validate img {
    display: inline !important;
    width: 35px !important;
    margin: 2% 2% -11px 0 !important;
}
#reloadBtn {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    color: #555555;
    background: transparent;
}
/* input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -1px;
    left: 0;
    position: relative;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #206d7a;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    top: -1px;
    left: 0;
    position: relative;
    background-color: #ff0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #000000;
} */

.svg-tooltip {
    pointer-events: none;

}
.maptext {
    padding: 1px 3px;
    color: #FFF;
    background-color: black;
    width: fit-content;
    font-size: 0.5em;
    font-family: "Rubik";
    /* opacity: 0; */
}
foreignObject { overflow: visible; }

/* Mobile Devices */

@media screen and (max-width: 767px) {
    .mapcontainer {
        width: 250px;
        margin: 4% 0 0 0;
    }
    #desc {
        flex-direction: column;
    }
    #rightSide {
        max-width: 85%;
    }
    #options label {
        font-size: 14px;
    }
    #guess {
        left: -17%;
        font-size: 12px;
    }
    .range {
        left: 10%;
    }
    .range__amount {
        width: 16%;
    }
    .range__amount, .days {
        font-size: 20px;
    }
    .limits {
        font-size: 12px;
    }
    #submitBtn {
        font-size: 16px;
        line-height: 22px;
    }
    h2#validate {
        font-size: 25px;
        line-height: 30px;
    }
    #daysEst p, #constData p:first-child {
        font-size: 13px;
        line-height: 16px;
    }
    #constData h4 {
        font-size: 50px;
        line-height: 70px;
    }
    #daysEst h4 {
        font-size: 39px;
        line-height: 45px;
    }
    #constData p#months {
        font-size: 26px;
    }
    #daysEst {
        padding-right: 6%;
    }
    #constData {
        padding-left: 5%;
    }
}


